@model Department

@{
    ViewData["Title"] = "Department";
}

<h1>Department</h1>

<div class="row">
    <div class="col">
        <a asp-controller="Sop" asp-action="CreateSop" class="btn btn-primary">Create</a>
        
        <table class="table">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach(var row in Model.)
            </tbody>
        </table>
    </div>
</div>